body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-image: url('../assets/bg-main.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: contain;
}
